@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-slide-up 1s ease-out forwards;
}